<mat-toolbar>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Outlab 6</span>
  <span class="example-spacer"></span>
  <div style="margin: 5px;">
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <a routerLink="/contact">Contact</a>
    </button>
  </div>
  <div style="margin: 5px;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <a routerLink="/form">Form</a>
  </button>
  </div>
</mat-toolbar>
