<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="grid-container">

    <div class="grid-child card">
        <img src="../../assets/images/abhinav.jpg" alt="Abhinav" width="100%" height="300px">
        <h2>Abhinav Gupta</h2>
        <p class="title">190050003 <br> guptabhinav.cse.iitb.ac.in</p>
        <p>IIT Bombay</p>
        <div style="margin: 5px;">
            <a href="https://github.com/guptabhinav49"><i class="fa fa-github"></i></a> &nbsp;
            <a href="https://www.facebook.com/abhinav.gupta.35762/"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
    
    <div class="card grid-child">
        <img src="../../assets/images/pk.jpg" alt="John" style="width:100%; height: 300px;">
        <h2>Prabhanshu Katiyar</h2>
        <p class="title">190050088 <br> prabhanshu.cse.iitb.ac.in</p>
        <p>IIT Bombay</p>   
        <div style="margin: 5px;">
            <a href="https://github.com/prabhanshukatiyar10"><i class="fa fa-github"></i></a> &nbsp;
            <a href="https://www.facebook.com/prabhanshukatiyar10"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
</div>